<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have over 3 years of experience as a software developer, and i co-founded a startup <a href ="http://www.djtech.com.ng">DJTech</a> in 2017 in which i am the Lead iOS/Android Developer. As a proficient
            software developer, my expertise is in building iOS and android applications using Swift, Objective-C and Java.
        </p>
        <p>
           I love building mobile applications.
           While hard engineering problems are often intrinsically fun to tackle,
           I'm most attracted to solving real customer problems with a business justification.
           I'm looking for a lead individual contributor role where I can take on collaborative
           team leadership responsibilites, and gain experience with
       	   architecture and project management.
        </p>
      </div>
	    <div class="col-sm-6">
		    <h3 style="margin-top:0;">Highlights</h3>
		    <ul>
    			<li>
            Certified Google Associate Android Developer (2018-2021) (bit.ly/DavidAAD18)
    			</li>
          <li> 
            Member of Winning Team UNIBEN (University of Benin, Benin City, Nigeria) ICT Day App Competition (2018) for building an Attendance Management System
          <li>
            Automated test automation in ramp-up to large data center migration, saving hundreds of developer hours.
    			<li>
		    </ul>
	    </div>
    </div>
  </div>
</section>
