<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have about 5 years of experience as a software engineer and i am currently working with <a href="https://www.plume.com/">Plume Design</a>. 
            As a proficient software developer, my expertise is in building iOS applications using 
            Swift, SwiftUI and Objective-C. I also develop macOS applications and engage in backend development using GoLang. 
            You can check out <a href ="https://drive.google.com/file/d/10SPG8nU4S4NUSBHTl4HJVt6LM24ebb5_/view">my resume</a>. 
        </p>
      </div>
	    <div class="col-sm-6">
        <h3 style="margin-top:0;">Work History</h3>
        <ul>
          <li>iOS Engineer @ Plume Design<br>
            September, 2020 - Present</li>
            
        </ul>
	    </div>
    </div>
  </div>
</section>
