<section id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About Me</h2>
        <hr />
      </div>
    </div>
    <div class="row">
	    <div class="col-sm-6">
    		<p>
            I have about 5 years of experience as a software engineer and i am currently working with <a href="https://www.plume.com/">Plume Design</a>. 
            As a proficient software developer, my expertise is in building iOS applications using 
            Swift, SwiftUI and Objective-C. I also develop macOS applications and engage in backend development using GoLang. 
            You can check out <a href ="https://drive.google.com/file/d/10SPG8nU4S4NUSBHTl4HJVt6LM24ebb5_/view">my resume</a>. 
        </p>
      </div>
	    <div class="col-sm-6">
        <h3 style="margin-top:0;">Work History</h3>
        <ul>
          <li>iOS Engineer, <a href="https://www.plume.com" target="\_blank">Plume Design</a><br>
            September, 2020 - Present</li>
          <li>iOS Technical Editor, <a href="https://www.raywenderlich.com" target="\_blank">Ray Wenderlich</a><br>
              September, 2020 - Present</li>
          <li>Lead iOS Engineer, <a href="http://joingeng.com" target="\_blank">NLabs</a><br>
                May, 2020 - January, 2021</li>
          <li>Lead iOS Engineer, <a href="http://playtq.com" target="\_blank">TQG Digital</a><br>
                  August, 2019 - May, 2020</li>
          <li>iOS Engineer, <a href="https://botosoft.com" target="\_blank">Botosoft Technologies</a><br>
            November, 2018 - July, 2019</li>
          <li>Software Engineer, <a href="https://github.com/demistry" target="\_blank">DJTech</a><br>
            July, 2016 - October, 2018</li>

        </ul>
	    </div>
    </div>
  </div>
</section>
