<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>PROJECTS</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>AI/ML</b>. It's an exciting time for artificial intelligence and machine learning. I'm working through several online classes on udacity and udemy and reading several articles on the subject.
			  </li>
			  <li>
				  <b>Virtual & Augmented Reality</b>. I've been an enthusiast on VR/AR and already working towards mastering C# for this sole purpose.
			  </li>
			  <li>
				  <b>Football</b>. I live in Nigeria, a country where football thrives and i love spending my free time playing this sport.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
  			<li>
          CRA is an iOS project similar to Uber for transporting from one location to another. The project consists of two iOS applications built using Swift: CRA Passenger and CRA Driver.
	The former is for passengers to request a ride from a driver, get matched to a driver and pay for their ride. The CRA Driver app is for drivers to get matched to passengers, accept or reject rides. The project enforces realtime location tracking between passenger and driver. (<a href="http://bit.ly/David_iOS_CRA">App Screenshots</a>)
    		</li>
  			<li>
          Part of the team developing and maintaining the Nocturna iOS App(On Apple App Store) under Nocturna Entertainment. It is an app for connecting various night clubs owners and their customers for the ultimate nightlife experience.
  			</li>
			  <li>
			  Med Manager is an android application that organize medication of patients and provides tracking for medication taken. (<a href="http://bit.ly/DavidMedMan">App Screenshots</a>)
			  </li>
			  <li>
			Attsys is an attendance management system used by lecturers to take attendance of students in class and curb cheating. It makes use of geolocation fencing and facial recognition
				  to verify a students presence in class. (https://github.com/AttSys)
			  </li>
			  <li>
			Petroleum D&C (On Google Playstore) is an android application that serves as a means for students and professionals engage in Petroleum Engineering to acquire useful knowlegde with respect to Well Drilling and Completion.
			  </li>
			  <li>
			CryptocurApp is an android application that helps in converting top 20 base currencies of the world to their corresponding Bitcoin, Ethereum and Steem Backed Dollars(SBD) values. (<a href="http://bit.ly/DavidCryptoCur">App Screenshots</a>)
			  </li>
  		    </ul>
  		    <h3>Other Things</h3>
  		    <ul>
  			<li>
           Vice President of Marketing and Communciations, AIESEC Benin City.
  			</li>
  			<li>
  			  Active member of Google Developer's Group, Benin City.
  			</li>
			    <li> Open Source Contributor on utopian.io and software development writer on Steemit</>
		   </ul>
      </div>
    </div>
  </div>
</section>
