<section class="tout" id="interests">
    <div class="container">
      <div class="row">
            <div class="col-lg-12 text-center">
                <h2>PROJECTS</h2>
                <hr />
            </div>
        </div>
            <div class="row">
                <div class="col-sm-6">
		    <p>
			    My personal interests include:
        </p>
			<ul>
			  <li>
				 <b>AI/ML</b>. It's an exciting time for artificial intelligence and machine learning. I'm working through several online classes on udacity and udemy and reading several articles on the subject.
			  </li>
			  <li>
				  <b>Virtual & Augmented Reality</b>. I've been an enthusiast on VR/AR and already developing applications using ARKit that can be seen on my github profile.
			  </li>
				
				<li>
				 <b>Data Structures & Algorithms</b>. From time to time i improve on my data structure and algorithm skills, trying to develop more efficient code.
			  <li>
				  <b>Football</b>. I live in Nigeria, a country where football thrives and i love spending my free time playing this sport.
      </li>
			</ul>
		</div>
    <div class="col-sm-6">
      <h3 style="margin-top:0">Recent Projects</h3>
		  <ul>
			  
			  <li>
          	TQ Trivia, an AI driven Content and Trivia iOS application, which makes learning fun and at the same time winning real cash prizes while at it. (<a href="https://apps.apple.com/ng/app/tq-trivia/id1483404071">Available on the AppStore</a>).
    		</li>
			  
			  <li>
          	BotoVerify, A facial recognition based iOS application for scanning and validation of MRZ passport. (<a href="https://apps.apple.com/us/app/botoverify/id1460141573">Available on the AppStore</a>).
    		</li>
			  
			  <li>
          	BotoAttend, A staff attendance management iOS application based on geolocation sensing and facial recognition. (<a href="https://apps.apple.com/us/app/botoattend/id1449003668">Available on the AppStore</a>).
    		</li>
			  
			  <li>
          	Developed backend for Hotsys with Golang. Hotsys is a hotel management application for overseeing various hotel activities. (<a href="https://github.com/demistry/Hotel-Management-System">Hotsys Github</a>).
    		</li>
  			<li>
          CRA is an iOS project similar to Uber for transporting from one location to another. The project consists of two iOS applications built using Swift: CRA Passenger and CRA Driver.
	The former is for passengers to request a ride from a driver, get matched to a driver and pay for their ride. The CRA Driver app is for drivers to get matched to passengers, accept or reject rides. The project enforces realtime location tracking between passenger and driver. (<a href="http://bit.ly/David_iOS_CRA">App Screenshots</a>)
    		</li>
			  
			  <li>
          AR Bball is an iOS augmented reality basket ball game. The user taps on any vertical plane in the real world via the AR camera and places the basketball backboard then begins playing and tries to score. There are varying difficulty levels with the backboard starting to move from a certain level. (<a href = "https://github.com/demistry/AR-BBall">AR Bball</a>)
    		</li>
			  
			  <li>
			Documentation Sorter is a macOS application that lists out various categories and frameworks of Apple's official documentation helping a developer to pick a framework to learn or improve upon. (<a href = "https://github.com/demistry/DocumentationSorter">Documentation Sorter</a>)
			  </li>
  			<li>
          Part of the team developing and maintaining the Nocturna iOS App(On Apple App Store) under Nocturna Entertainment. It is an app for connecting various night clubs owners and their customers for the ultimate nightlife experience.
  			</li>
			  <li>
			Attsys is an attendance management system used by lecturers to take attendance of students in class and curb cheating. It makes use of geolocation fencing and facial recognition
				  to verify a students presence in class. (https://github.com/AttSys)
			  </li>
			  
			  <li>
			AR rough sketch is an iOS augmented reality application that lets a user draw/sketch in the real world using the iPhone's camera. (<a href = "https://github.com/demistry/AR-Rough-Sketch">AR Rough Sketch</a>)
			  </li>
			  
			  <li>
			Petroleum D&C (On Google Playstore) is an android application that serves as a means for students and professionals engage in Petroleum Engineering to acquire useful knowlegde with respect to Well Drilling and Completion.
			  </li>
		   </ul>
      </div>
    </div>
  </div>
</section>
